@model ProfileMatchesModel

@{
	ViewData["Title"] = "All reviewed users";
}

<link rel="stylesheet" href="~/css/multiple-profiles-styles.css" asp-append-version="true" />

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<h4>User Profiles that have been reviewed</h4>
@if (!Model.ProfilesArray.Any())
{
    <h2 text-center>There are no accessible user profiles at the moment!</h2>
}

<div class="row">
    @foreach (var profile in Model.ProfilesArray)
    {
        <div class="col-md-4">
            <div class="card mb-3 my-card">
                <!--<img class="card-img-top" src="IMAGES FOR REVIEW SOURCE FROM MODEL HERE" alt="House Image">-->
                <div class="card-body text-center">
                    <h5>@profile.FirstName @profile.LastName, born on @profile.DateOfBirth is looking for a @profile.Relationship.</h5>
                    <h5>@profile.FirstName is a @profile.Gender and is looking for a @profile.WantedGender partner</h5>
                    <h6>"@profile.Description"</h6>
                    
                    <h5>You can now reach @profile.FirstName at their email: @profile.Email</h5>

                    <form asp-area="Admin" asp-controller="PersonProfile" asp-action="RemoveApprovedProfile" asp-route-personProfileId="@profile.Id" class="mb-1" method="post">
	                    <button type="submit" class="btn btn-success">Delete profile</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>