@model PersonProfilesModel

@{
    ViewData["Title"] = "Pending requests";
}

<partial name="_PersonMenuPartial" />

@if (!Model.ProfilesArray.Any())
{
    <h3 text-center>You have no requests pending for you at the moment!</h3>
}

<div class="row">
    @foreach (var profile in Model.ProfilesArray)
    {
        <div class="col-md-6">
            <div class="card mb-5 my-card">
            <div class="card-body text-center">
                    <h5>@profile.FirstName @profile.LastName, born on @profile.DateOfBirth is looking for a @profile.Relationship.</h5>
                    <h5>@profile.FirstName is a @profile.Gender and is looking for a @profile.WantedGender</h5>
                    <h6>"@profile.Description"</h6>

                    <form asp-area="" asp-controller="Dating" asp-action="LikeBack" asp-route-personProfileId="@profile.Id" class="mb-1" method="post">
                        <button type="submit" class="btn btn-success">Like back</button>
                    </form>

                    <form asp-area="" asp-controller="Dating" asp-action="Decline" asp-route-personProfileId="@profile.Id" method="post">
                        <button type="submit" class="btn btn-success">Decline</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>